
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #FFFFFF;
    min-height: 100vh;
    background: #000000;
    display: flex;
    font-family: 'Manrope', sans-serif;
    max-height: 100%;
    
}

.container {
    width: 100%;
    border: 2px solid #990000;
    border-image:linear-gradient(75deg, rgba(121,9,26,1) 0%, rgba(36,0,0,1) 25%, rgba(52,2,5,1) 45%, rgba(121,9,26,1) 85%);
    border-image-slice: 1;
    margin: 10px;
    padding: 15px;
    background: linear-gradient(45deg, #300000, rgb(6, 31, 67), #000000 20%, #300000, rgb(6, 31, 67), #000000 80%);
    background-size: 600%;
    animation: color 20s reverse infinite;
    position: relative;


    
}

.row {
    padding-left: 30px;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 30px;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.layout-1 {
    width: 10%;
    height: 30%;
    border-top: 20px solid;
    border-left: 20px solid;
    border-image:linear-gradient(75deg, rgba(121,9,26,1) 0%, rgba(36,0,0,1) 25%, rgba(52,2,5,1) 45%, rgba(121,9,26,1) 85%);
    border-image-slice: 1;
    position: absolute;
    top: -10px;
    left: -10px;

}

.layout-2 {
    width: 10%;
    height: 30%;
    border-bottom: 20px solid;
    border-image: linear-gradient(45deg, rgba(121,9,26,1) 0%, rgba(36,0,0,1) 25%, rgba(52,2,5,1) 45%, rgba(121,9,26,1) 85%);
    border-right: 20px solid;
    border-image-slice: 1;
    position: absolute;
    bottom: -10px;
    right: -10px;
}

header {
    display: flex;
    justify-content: space-between;
}

.titre {
    margin-left: 0px;
    font-weight: bold;
    font-size: 25px;
    line-height: 10px;
    color: rgb(188, 188, 188);
    font-family: 'Roboto Mono', monospace;

}

.titre p {
    color: #530303;
}

.contact {
    width: 40%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    border-bottom: 2px solid #990000;
    margin-bottom: 20px;
    border-image: linear-gradient(90deg, rgba(36,0,0,1) 16%, rgba(121,9,26,1) 51%, rgba(41,4,4,1) 100%);
    border-image-slice: 1;
}

.contact img {
    width: 50%;
    margin-left: 20px;
    filter: opacity(60%);
}

/* Fin du header */
/* Début du main */
section {
    max-width: 60%;
    max-height: 90vh;
}

section h2 {
    font-family: 'Roboto Mono', monospace;
    color: rgb(188, 188, 188);
}

main {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    

}

/* Section Présentation */
section h2 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

section p {
    font-size: 14px;
    margin-bottom: 30px;
}

section img {
    max-width: 100%;
    height: 50vh;
    /* max-height: 50vh; */
    display: block;
    border-radius: 20px;
    box-shadow: 0px 0px 6px;
}

/* Fin de la section Présentation */
/* Section barre de navigation */

nav {
    width: 10%;
    margin-right: 5%;
    padding-left: 50px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-image: linear-gradient(75deg, rgba(121,9,26,1) 0%, rgba(36,0,0,1) 25%, rgba(52,2,5,1) 45%, rgba(121,9,26,1) 85%);
    border-image-slice: 1;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    height: 200px;
    padding-right: 0px;
    padding-left: 0px;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
    font-size: 14px;
}

/* Responsive */

@media (max-width: 1024px) {

    .titre {
        margin-left: 0;
    }

    .titre h1::before {
        content: "J.F";
        font-size: 30px;
    }

    .titre p {
        content: "Développeur Web & Application mobile";
        font-size: 10px;
    }

    .titre h1 {
        font-size: 0;
        /* Cela rendra le texte original de h1 invisible */
    }
    .row {
        
padding: 30px;
       
    }
    

}

@media (max-width: 940px) {
    .layout-2 {
        display: none;
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }

    section {
        max-width: 100%;
    }

    /* section img {
        display: none;
    } */

    nav {
        text-align: center;
        border: none;
        width: 100%;
        padding: 0;
        margin-right: 0;
    }

    nav ul {
        width: 100%;
    }

    section p {
        padding-bottom: 40px;
        border-bottom: 1px solid #990000;
        border-image:linear-gradient(90deg, rgba(36,0,0,1) 16%, rgba(121,9,26,1) 51%, rgba(41,4,4,1) 100%);
        border-image-slice: 1;
    }
}